.employee-hierarchy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-card {
  width: 250px; /* Set a fixed width */
  height: max-content; /* Set a fixed height */
  background: linear-gradient(
    to top,
    #eeeeee,
    #ebe6eb,
    #ecdde3,
    #eed5d5,
    #ebcec3,
    #ebcebb,
    #e8cfb4,
    #e2d0ae,
    #e8d4af,
    #edd8af,
    #f3ddb0,
    #f8e1b0
  );
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.employee-card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* Add these styles to your CSS file */

.role-group {
  margin-bottom: 20px; /* Adjust this margin as needed */
  display: flex;
  flex-direction: column;
}

.role-group h5 {
  margin-bottom: 10px; /* Adjust this margin as needed */
}

