.head-title {
  background: linear-gradient(
    to right,
    #eeb03d,
    #c2763f,
    #874839,
    #452527,
    #000000
  );
  font-family: fantasy;
  font-size: 30px;
  color: #000000;
}

@media (max-width: 600px) {
  .mobile-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.button:hover {
  color: #eeb03d;
}
