.logo-container,
.contact-us,
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.connect-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.cicon:hover {
  color: #eeb03d;
}

.slogan {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.company-logo {
  width: 120px;
}

.terms-and-conditions,
.privacy-policy,
.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.terms-and-conditions h6,
.privacy-policy h6,
.quick-links h6 {
  font-size: 18px;
  margin-bottom: 10px;
}
