.head-title {
  background: linear-gradient(
    to right,
    #eeb03d,
    #c2763f,
    #874839,
    #452527,
    #000000
  );
  font-family: fantasy;
  font-size: 30px;
  color: #000000;
}

@media (max-width: 600px) {
  .mobile-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.button:hover {
  color: #eeb03d;
}

.cst-centered-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  place-items: center;
}

.cst-product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 15px;
}

.cst-product-card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

.cst-product-image {
  padding-top: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .cst-product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 16px;
} */

.cst-product-details {
  flex-grow: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.cst-product-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.cst-product-description {
  flex-grow: 1;
  overflow: hidden;
}

.cst-product-price {
  padding-top: 8px;
  margin-top: 8px;
}

.cst-product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cst-small-product-card {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  padding: 4px;
  margin-right: 4px;
}

.cst-small-product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cst-product-small-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
}
