.inv-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inv-form-container {
  margin-top: 25px;
  background: linear-gradient(
    to top,
    rgba(238, 238, 238, 0.5),
    rgba(235, 230, 235, 0.5),
    rgba(236, 221, 227, 0.5),
    rgba(238, 213, 213, 0.5),
    rgba(235, 206, 195, 0.5),
    rgba(235, 206, 187, 0.5),
    rgba(232, 207, 180, 0.5),
    rgba(226, 208, 174, 0.5),
    rgba(232, 212, 175, 0.5),
    rgba(237, 216, 175, 0.5),
    rgba(243, 221, 176, 0.5),
    rgba(248, 225, 176, 0.5)
  );
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  padding-bottom: 30px;
  backdrop-filter: blur(10px);
}

.inv-form-container:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.head-title
{
  background: linear-gradient(to right, #eeb03d, #c2763f, #874839, #452527, #000000);
  font-family:fantasy;
  font-size: 30px;
  color: #000000;
}

@media (max-width: 600px) {
  .mobile-button {
    font-size: 14px; /* Adjust the font size as needed */
    padding: 8px 16px; /* Adjust the padding as needed */
  }
}

.button:hover {
  color: #eeb03d ;
}